@import '../../sass_common_style/common_style.scss';
.filter-container{
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 10px 10px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include media-query(max-width, 768px, (width: 130px, margin:10px 0 0 0));
    .title{
        font-size: 15px;
        margin-left: 10px;
        text-transform: capitalize;
    }
    .language{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3{
            font-size: 16px;
            margin: 0 0 10px 15px;
        }
        .form{
            margin-left: 25px;
        }
    }
}