@import '../../sass_common_style/common_style.scss';

.item-card-favorite{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 20px 0;
    width: 500px;
    @include media-query(max-width, 768px, (width: 340px));
    @include media-query(min-width, 768px, (width: 700px));
    @include media-query(min-width, 992px, (width: 950px));
    @include media-query(min-width, 1200px, (width: 1150px));
    .image{
        img{
            width: 100px;
            @include media-query(max-width, 768px, (width: 80px));
            &:hover{
                opacity: 80%;
            }
        }
    }
    .details-and-price{
        display: flex;
        justify-content: space-between;
        width: max-content;
        flex-grow: 1;
        @include media-query(max-width, 768px, (width: 260px, flex-direction:column));
        @include media-query(min-width, 1200px, (width: 550px));
        .details{
            margin-left: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height:max-content;
            // flex-grow: 1;
            @include media-query(max-width, 768px, (width: 260px));
            @include media-query(min-width, 768px, (flex-grow: 1));
            .title{
                a{
                    text-decoration: none;
                    color: black;
                    h2{
                        margin: 0 5px;
                        font-weight: normal;
                        @include media-query(max-width, 768px, (font-size: 18px, width: 240px));
                    }
                    &:hover{
                        opacity: 80%;
                    }
                }
            }
            .remove-and-add-to-cart{
                display: flex;
                align-items: center;
                margin: 10px 0 0 0;
                @include media-query(max-width, 768px, (font-size: 18px, width: 240px));
                .remove-item, .add-to-cart{
                    display: flex;
                    align-items: center;
                    color:$base-color;
                    font-size: 16px;
                    svg{
                        color:$base-color;
                        height: 20px;
                        margin: 0;
                    }
                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                        opacity: 80%;
                    }
                }
                .space{
                    margin: 0px 5px;
                    font-size: 16px;
                    color: rgb(128, 118, 118);
                }
            }
        }
        .price{
            margin-left: 10px;
            width: 150px;
            @include media-query(max-width, 768px, (margin:0 28px));
            h2{
                margin: 0;
            }
        }
    }
}